
p{
  font-style: italic;
  font-family: inherit;
  font: Blippo, fantasy;
  font-variant: small-caps;
  font-size: 25px;
  
  border: antiquewhite;
  border-block-style: solid;
  border-width: thin;
  border-radius: 10px;
  
}

#sign_out {
  background-color: cadetblue;
  padding: .5em;
  border-radius: 10px;
  color: antiquewhite;
  font-family: '';
  font-size: 15px;
  text-decoration: none;
  border
  border: aqua;
}

#sign_out:hover {
  border: none;
  background: #EA5151;
  box-shadow: 0px 0px 1px #777;
}
#verify_email {
  background-color: cadetblue;
  padding: .5em;
  border-radius: 10px;
  color: antiquewhite;
  font-family: '';
  font-size: 15px;
  text-decoration: none;
  border
  border 
}

#verify_email:hover {
  border: none;
  background: #EA5151;
  box-shadow: 0px 0px 1px #777;
}
#who_am_i {
  background-color: cadetblue;
  padding: .5em;
  border-radius: 10px;
  color: antiquewhite;
  font-family: '';
  font-size: 15px;
  text-decoration: none;
  border
}

#who_am_i:hover {
  border: none;
  background: #EA5151;
  box-shadow: 0px 0px 1px #777;
}