body {
	padding-top: 5rem;
}
.add {
	padding: 3rem 1.5rem;
	text-align: center;
}
.pastOrders{
	padding: 3rem 1.5rem;
	text-align: center;	
}
.currentOrders{
	padding: 3rem 1.5rem;
	text-align: center;	
}
.profileStuff{
	padding: 3rem 1.5rem;
	text-align: center;	
}