body {
	padding-top: 5rem;
}
.pastOrders {
	padding: 3rem 1.5rem;
	text-align: center;
}
.restaurantStuff{
	padding: 3rem 1.5rem;
	text-align: center;	
}
.cartStuff{
	padding: 3rem 1.5rem;
	text-align: center;	
}
.profileStuff{
	padding: 3rem 1.5rem;
	text-align: center;	
}